.page {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.quiz-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* background-color: red; */
  height: 90vh;
  min-width: 100%;
  width: 100%;
}

.quiz {
  background-color: gray;
}

h1 {
  text-align: center;
  font-size: 36px;
}

.image-container {
  background-color: yellow;
  width: 60vw;
  margin: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.question-image {
  background-color: beige;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  align-self: flex-start;
  border: 1px solid #000000;
}
.radiobutton {
  margin: 20px 40px;
  background-color: #bbbbbb;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}

.radiobutton.correct {
  background-color: #b6e7a0;
}

.radiobutton.incorrect {
  background-color: #f7b6b6;
}

input {
  margin-right: 20px;
}

.question-container {
  width: 40vw;
  float: right;
  padding: 20px;
}
.question-number {
  font-size: 24px;
  text-align: center;
}

.choices-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.question-text {
  font-size: 24px;
  margin: 20px 0;
  text-align: left;
}

#choice-button {
  margin: 30px 30px;
  align-self: flex-end;
  width: 30%;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #accad6;
}

.validated {
  background-color: #78a5b9;
}
#answer-and-submit-container {
  display: flex;
  justify-content: space-between;
}
#correct-answer {
  margin: 30px 30px;
  width: 30%;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
}

.correct {
  color: #2d5a2d;
  border: 2px solid #2d5a2d;
}

.incorrect {
  color: #8b2a2a;
  border: 2px solid #8b2a2a;
}

.explanation-container {
  /* margin: 20px 0; */
  padding: 5px 20px;
  background-color: #f0f0f0;
  height: 20vh;
}
